@font-face {
    font-family: ubuntuBold;
    src: url("/fonts/ubuntu-bold.ttf");
}
@font-face {
    font-family: ubuntuBoldItalic;
    src: url("/fonts/ubuntu-bolditalic.ttf");
}
@font-face {
    font-family: ubuntuItalic;
    src: url("/fonts/ubuntu-italic.ttf");
}
@font-face {
    font-family: ubuntuLight;
    src: url("/fonts/ubuntu-light.ttf");
}
@font-face {
    font-family: ubuntuLightItalic;
    src: url("/fonts/ubuntu-lightitalic.ttf");
}
@font-face {
    font-family: ubuntuMedium;
    src: url("/fonts/ubuntu-medium.ttf");
}
@font-face {
    font-family: ubuntuMediumItalic;
    src: url("/fonts/ubuntu-mediumitalic.ttf");
}
@font-face {
    font-family: ubuntu;
    src: url("/fonts/ubuntu-regular.ttf");
}

/* reset de margens */
* {
  margin: 0;
  padding:0;
}

/* para garantir que estes elementos ocuparão toda a tela */
body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, Tahoma, sans-serif;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6{
  font-family: ubuntuBold;
  text-transform: uppercase;
  color: #6F2FAD;
}

p{
  font-family: ubuntu;
}

.services{
  margin-right: 6em;
}

.services h1, h2, h3, h4, h5, h6{
  color: #66cbd0;
}

.row{
  margin-right: 0em;
  margin-left: 0em;
}

.cut-line{
  background: #000 url("/images/banner.png") center center no-repeat;
  min-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

.logo img{
  margin: 17% auto;
}

.detailed{
  padding-left: 12em;
  padding-right: 12em;
  text-align: justify;
}

.meio h1, h2, h3, h4, h5, h6{
  text-align: center;
}

.services h1, h2, h3{
  text-align: center;
}

.services p{
  text-align: justify;
}

.services .thumbnail{
  line-height: 0em;
  border: 0em;
}

.centralize-text{
  text-align: center;
}

.justify-text{
  text-align: justify;
}

.custom-navbar{
  margin-bottom: 0px;
}

.cabeca {
  background: #000 url("/images/banner.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

.image-center{
  text-align: center;
}

.template-image{
  min-height: 700px;
}

.main-content{
  padding-right: 0px;
  padding-left: 0px;
}

.youTubeVideo{
  width: 100%;
  height: 40em;
}

.product-main-title{
  text-align: center;
}

.product{
  min-height: 10em;
}

.product h3, h4, h5, h6{
  text-transform: none;
}

.payment-form{
  margin: 0;
  width: 100%;
}

.footer-blog-info {
  background: #000 url("/images/footer.png") center center no-repeat;
  min-height: 15em;
<<<<<<< HEAD
=======
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

.footer-blog-info .footer-content{
  margin-left: 30%;
  margin-top: 6%;
}

.footer-blog-info .container{
  margin-top: 6em;
  text-align: center;
}

.footer-contact .container{
  text-align: center;
}

.footer-contact .container, .footer-contact{
  background: #6F2FAD;
  min-height: 7em;
>>>>>>> b2eb5e1a3ad0aecb4a5c86bba3835cca0964bc9e
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

<<<<<<< HEAD
.footer-blog-info .footer-content{
  margin-left: 30%;
  margin-top: 6%;
}

.footer-blog-info .container{
  margin-top: 6em;
  text-align: center;
}

.footer-contact .container{
  text-align: center;
}

.footer-contact .container, .footer-contact{
  background: #6F2FAD;
  min-height: 7em;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  color: #fff;
}

=======
>>>>>>> b2eb5e1a3ad0aecb4a5c86bba3835cca0964bc9e
.footer-blog-info a, .footer-contact a{
  font-size: 2em;
  text-transform: uppercase;
  color: #e2dd5b;
  font-family: ubuntuBold;
  text-transform: uppercase;
}

.vendamais-navbar{
  background-color: #6f31ac;
}

.vendamais-navbar .navbar-nav > li > a {
  color: #d6f14b;
}

<<<<<<< HEAD
a>  .navbar-brand {
  color: #d6f14b;

}

=======
>>>>>>> b2eb5e1a3ad0aecb4a5c86bba3835cca0964bc9e
@media screen and (max-width: 1100px){
  .services{
    margin-right: 5em;
  }
}

@media (max-width: 901px){
  .detailed{
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 542px){
  .detailed{
    padding-left: 0em;
    padding-right: 0em;
  }
}

/*Status Page Style*/
.img-status {
  float: left;
  width: 400px;
  margin: 20px;
}
.thumbnail img {
  width: 300px;
}

/*********** BEGIN - Contato ***********/

.contact {
	padding: 30px;
	max-width: 400px;
	margin: auto;
	box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.2);
	animation: fadeIn 1.5s cubic-bezier(0.19,1,0.22,1);
}
.contact::after{
	content: "";
	display: block;
	clear: both;
}

.contact .grupo{
	margin-bottom: 20px;
}
.contact .grupo > *{
	display: block;
}
.contact .grupo label{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
	color: black;
}
.contact .grupo input, form .grupo select{
	border: none;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background: rgba(88, 174, 216, 0.9);
	font-weight: bold;
	color: rgba(0,0,0);
    padding: 18px 10px;
    border-bottom: solid 3px rgba(255,255,255,0.2);
    transition: all 0.4s cubic-bezier(0.19,1,0.22,1);
}


.contact .grupo input:focus{
	border-color: blue;
}
.contact .grupo.erro input{
	border-bottom-color: red;
}
.contact .grupo.valido input{
	border-bottom-color: #88bd64;
}

.contact h2 {
	text-align: ;
	margin-bottom: 16px;
	color: black;
}

.contact textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-style: inset;
	font-size: 16px;
	border-radius: 5px;
	font-weight: bold;
    background-color: rgba(88, 174, 216, 0.9) ;
	width: 350px;
}



.btn{
	cursor: pointer;
	font-weight: bold;
	display: block;
	height: 50px;
	padding: 10px 20px;
	border-radius: 25px;
	border: none;
	font: auto;
	font-size: 16px;
	font-weight: bold;
	background: #58aed8;
	opacity: 0.8;
	transition: all 1s cubic-bezier(0.19,1,0.22,1);
}
.btn:hover{
	opacity: 1;
	/*transform: translateY(-2px);*/
}
form > .btn{
	width: 100%;
	height: 60px;
	border-radius: 30px;
}
/*********** END - Contato ***********/